body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  width: 25%;
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);

  height: 100%;
  overflow-y: auto;
}

.sidebar h1 {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar li:hover {
  background-color: #555;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #DA6167;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #e14b51;
}

.sidebar button {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  background-color: #494949;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: #DA6167;
}

.channel-list-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #121212;
  padding: 20px;
}

.channel-list-window .header {
  text-align: center;
  margin-bottom: 20px;
}

.channel-list-window .header h2 {
  font-size: 1.8em;
  color: #ffffff;
  margin: 0;
}

.channel-list-window .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #444;
  color: #fff;
  font-size: 1.5em;
  border: none;
  width: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.channel-list-window .close-button:hover {
  background: #555;
}

.channel-list-window .channel-list {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.channel-list-window .channel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #1e1e1e;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.channel-list-window .channel-item:hover {
  background: #DA6167;
  transform: scale(1.05);
}

.selected-channel {
  border: 2px solid #bdbdbd;
  background-color: #555; 
  border-radius: 5px;    
}

.user-list-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #121212;
  padding: 20px;
}

.user-list-window .header {
  text-align: center;
  margin-bottom: 20px;
}

.user-list-window .header h2 {
  font-size: 1.8em;
  color: #ffffff;
  margin: 0;
}

.user-list-window .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #444;
  color: #fff;
  font-size: 1.5em;
  border: none;
  width: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.user-list-window .close-button:hover {
  background: #555;
}

.user-list-window .user-list {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-list-window .user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #1e1e1e;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.user-list-window .user-item:hover {
  background: #DA6167;
  transform: scale(1.05);
}

.toast-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast-notification {
  background-color: #1e1e1e;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 0.9em;
  animation: slide-down 0.3s ease, fade-out 0.5s ease 2.5s forwards;
  max-width: 300px;
  text-align: center;
}

.toast-notification.error {
  background-color: #DA6167;
  color: white;
}

.toast-error {
  background-color: #DA6167; 
  color: white;
  border: 1px solid #a94442;
  font-weight: bold;
}



@keyframes slide-down {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}



.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 20px;
  border-bottom: 1px solid #444;
  margin-bottom: 15px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #DA6167;
}

.empty-list {
  color: #888;
  font-style: italic;
  text-align: center;
  margin: 10px 0;
}


.input-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.input-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.input-container h3 {
  margin-bottom: 15px;
  color: #fff;
}

.input-container input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.input-container button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:first-child {
  background-color: #4caf50;
  color: white;
}

.input-container button:first-child:hover {
  background-color: #45a049;
}

.input-container button:last-child {
  background-color: #333;
  color: white;
}

.input-container button:last-child:hover {
  background-color: #424242;
}

.icon {
  width: 24px;
  height: 28px;
  margin-right: 8px;
  vertical-align: middle;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}

.chat-window {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.message {
  max-width: 60%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 0.9em;
  align-self: flex-start; 
}

.message.sent {
  align-self: flex-end;
  background-color: #333; 
}

.message.received {
  background-color: #444;
}


.command-input {
  display: flex;
  position: relative;
  padding: 20px;
  background-color: #1e1e1e;
  border-top: 1px solid #333;
}

.command-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #ffffff;
  font-size: 1em;
}

.command-input button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #DA6167;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.command-input button:hover {
  background-color: #e14b51;
}

.suggestions {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333;
  border-radius: 5px 5px 0 0;
  list-style: none;
  padding: 5px;
  margin: 0;
  z-index: 10;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestions li:hover {
  background-color: #DA6167;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 30%;
  }

  .chat-window {
    padding: 10px;
  }

  .command-input {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 40%;
  }

  .message {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 50%;
  }
}
